//variables
@use "../utilities/variables" as *;
//mixin
@use "../utilities/mixin" as *;

@media (min-width: 768px) and (max-width: 1023px) {

  .productos .destacados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
  }
}
