// Colores principales
$color-primario: #223A49;
$color-secundario: #BC6C3E;
$color-texto-claro: whitesmoke;

// Opacidades / variantes
$color-card-bg: #223a49d8;
$color-card-borde: #bc6c3e70;

// Transition
$transicion-base: all 0.3s ease;
